body {
  background-image: linear-gradient(to right, lavender, Azure);
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

#board {
  height: 532px;
  width: 475px;
  margin: 0 auto;
  margin-top: 0rem;
  background-color: lavender;
  border: 10px solid lightblue;
}
.card {
  height: 128px;
  width: 90px;
  margin: 2.5px;
}
.main-content {
  min-height: calc(100vh - 220px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 0vh;
  margin-top: -25vh;
}
