body {
  background-image: linear-gradient(to right, lavender, Azure);
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

#board {
  height: 532px;
  width: 475px;
  margin: 0 auto;
  background-color: lavender;
  border: 10px solid lightblue;
}
.card {
  height: 128px;
  width: 90px;
  margin: 2.5px;
}
